body {
  background-color: white;
  margin:0;
}
#cy {
  /* width: 100% !important; */
  height: calc(100vh - 20px) !important;
  display: block;
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	padding: 10px;
}
.pin{
  background-color: rgba(255,255,255,0);
}
.body2 {
		margin: 10px 0;
}
.body-height {
		min-height: auto;
}
.card:hover {
		cursor: pointer;
		box-shadow: 0px 0px 5px #444;
}
.card li { 
  background-color: #ebeef5;
  color: #000;
}
.card-title {
  font-weight: bold;
}
.font-style {
		padding: 0 5px;
		border: 1px solid #444;
		border-radius: 5px;
		font-weight: bold;
}
.link-style {
  text-decoration: none; 
  font-weight: bold; 
  color: white; 
  background-color: #3a5ebf; 
  padding: 10px 30px; 
  border-radius: 6px;
}
.link-style:hover {
		cursor: pointer;
		box-shadow: 0px 0px 5px #444;
}
@media only screen and (min-width: 992px) {
		.body-height {
				min-height: 350px;
		}
}
